<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<!--head部分-->
<head th:include="layout :: htmlhead" th:with="title='撸喵miao'">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!--头-->
    <div th:replace="fragments/head :: header"></div>

    <!--主体区域-->
    <div class="layui-body">
        <div class="layui-container">
            <div class="layui-row">
                <div class="layui-col-xs9">
                    &nbsp;
<!--                    <h1 style="padding-top:50px;line-height:2.0;"><shiro:principal property="sysUserName"></shiro:principal>，欢迎登录-->
<!--                        <span style="font-weight: bold;font-size:28px;">QAQ</span></a></h1>-->
                    <h1 style="padding-top:50px;line-height:2.0;">
                        欢迎 <span style="color: #00a2d4" th:text="${session.miao_user}"></span> 来到
                        <span style="font-weight: bold;font-size:28px; color: #c16fc9">撸喵miao</span>
                    </h1>
                    <p th:text="${#httpServletRequest.getParameter('userSession')}"></p>

                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/js/error.js"></script>
    <!--底部-->
    <div th:replace="fragments/footer :: footer"></div>
</div>
</body>
</html>