<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--head部分-->
<head th:include="layout :: htmlhead" th:with="title='撸喵miao'">
</head>
<style>
    body{
        background-repeat: no-repeat;
        background-size:100% 100%;
        background-attachment: fixed;
    }
</style>
<body background="/img/backgroud.jpg" >
<div th:replace="fragments/head :: header"></div>
<!--<div class="layui-container" style="height: 100%;width: 100%"></div>-->
<div id="layui-container">
    <div class="admin-login-background">

        <form class="layui-form"  id="useRegister">
            <div>
                <i class="layui-icon layui-icon-username admin-icon"></i>
                <input type="text" name="userName" placeholder="请输入用户名" id="userName"
                       autocomplete="off" class="layui-input admin-input admin-input-username">
            </div>
            <div>
                <i class="layui-icon layui-icon-release admin-icon"></i>
                <input type="text" name="email" id="email"
                       placeholder="请输入邮箱"
                       autocomplete="off"
                       class="layui-input admin-input admin-input-verify">
                <img class="admin-captcha" src=""
                     onclick="updateVerify()">
            </div>
            <div>
                <i class="layui-icon layui-icon-password admin-icon"></i>
                <input type="password" name="password" id="password"
                       placeholder="请输入密码"
                       autocomplete="off"
                       class="layui-input admin-input admin-input-password">
            </div>
            <button class="layui-btn admin-button" onclick="register()">注册</button>
        </form>
    </div>
</div>
<script type="text/javascript" src="/js/register.js"></script>
<script>
    function updateVerify() {

    }
</script>
</body>
</html>