<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<!--head部分-->
<head th:include="layout :: htmlhead" th:with="title='撸喵miao'">
</head>
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>后台管理-登陆</title>-->
<!--    <link rel="stylesheet" href="/layui/css/layui.css">-->
<!--    <link rel="stylesheet" href="/css/admin.css">-->
<!--</head>-->
<body>
<!--<div class="admin-header">
    <ul class="layui-nav">
        <li class="layui-nav-item"><a href="/">撸喵miao</a></li>
        <li class="layui-nav-item"><a href="">铲屎官攻略</a></li>
        <li class="layui-nav-item"><a href="">app下载</a></li>
        <button class="layui-btn" onclick="">登陆</button>
        <button class="layui-btn layui-btn-normal" onclick="">注册</button>
    </ul>
</div>-->
<div id="container">
    <div class="admin-login-background">

        <form class="layui-form" action="">
            <div>
                <i class="layui-icon layui-icon-username admin-icon admin-icon-username"></i>
                <input type="text" name="username" placeholder="请输入用户名"
                       autocomplete="off"
                       class="layui-input admin-input admin-input-username">
            </div>
            <div>
                <i class="layui-icon layui-icon-release admin-icon admin-icon-password"></i>
                <input type="text" name="verify"
                       placeholder="请输入邮箱"
                       autocomplete="off"
                       class="layui-input admin-input admin-input-verify">
                <img class="admin-captcha" src=""
                     onclick="updateVerify()">
            </div>
            <div>
                <i class="layui-icon layui-icon-password admin-icon admin-icon-password"></i>
                <input type="password" name="password"
                       placeholder="请输入密码"
                       autocomplete="off"
                       class="layui-input admin-input admin-input-password">
            </div>
            <button class="layui-btn admin-button" lay-submit lay-filter="formDemo">注册</button>


        </form>
    </div>
</div>
<script src="layui/layui.js"></script>
<script>

    function updateVerify() {

    }


</script>
</body>
</html>